header {
	background-color: #f2f2f2;
	padding: 20px;
}

h1, p {
	margin: 0;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.gallery a {
	position: relative;
	margin: 10px;
}

.gallery img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	transition: opacity 0.3s ease-in-out;
}

.gallery a:hover img {
	opacity: 0.5;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.9);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.gallery a:hover .overlay {
	opacity: 1;
}

.overlay h3, .overlay p {
	margin: 0;
	text-align: center;
}
